 /* This makes the website flush with the top */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

/* Gives body a nice color that isn't just normal white */
body {
    background-color: black;
    background-size: cover;
    overflow-x: hidden; /* Keeps users from scrolling up and down */
}

/* Top of webpage including options */
.sidebar {
    background-color: rgb(14, 129, 236);
    background-size: cover;
    padding-top: 10px;
    padding-left: 10px;
    height: 100vh; /*Viewport height */
    width: 20vw; /*Viewport width */
    color: black;
    float: left;
}

.sidebar-contents {
    margin: 30px;
    margin-left: 0px;
    padding: 0px;
    position: relative;
    left: 0%;
}

/* Style for refresh */
.link {
    /* TODO */
}

/* Apple font */
.font {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Grid that snake will be on */
.game-area {
    /*background-color:rgb(153, 214, 176);
    background-size: cover;*/
    height: 90vh;
    width: 70vw;
    left: 25vw;
    top: 5vh;
    right: 5vw;
    position: absolute;
}
canvas {
    position: absolute;
}
#background {
    background-color: rgb(30, 255, 0);
    background-size: cover;
    z-index: 1;
}
#game {
    z-index: 2;
}

#apple {
    visibility: hidden;
    width: 1px;
    height: 1px;
}